

.main {
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header styling */

header {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  /* border: 2px solid green; */
}

.scroll-bar {
  width: 30%;
  background-color: #cce2f0;
  overflow: auto;
  white-space: nowrap;
}

.scroll-bar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.option {
  display: inline-block;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.option:hover {
  background-color: #b9c9d4;
}

/* Main Content Styling */

.info-container {
  height: 90vh;
  width: 100%;
  margin-top: 4%;
  /* border: 2px solid blue; */
}

.info-card-1,
.info-card-2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.teaching-video,
.sparring-video {
  height: 80vh;
  border: 2px solid #6b7d83;
}

.details-1 {
  width: 30%;
  text-indent: 16%;
  line-height: 2;
}

h3 {
  font-size: larger;
}

.details-2 {
  width: 30%;
  text-indent: 8%;
  line-height: 2;
}