

.info-container {
  width: 100%;
  margin-top: 4%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card-1,
.info-card-2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.teaching-video,
.sparring-video {
  height: 80vh;
  border: 2px solid #6b7d83;
}

.details-1 {
  width: 30%;
  text-indent: 16%;
  line-height: 2;
}

h3 {
  font-size: larger;
}

.details-2 {
  width: 30%;
  text-indent: 8%;
  line-height: 2;
}

